body {
    font-family: 'Roboto', sans-serif;
}
.rtb {
    font-family: 'Raleway', sans-serif;
}
.h3 {
    font-weight: 700;
}
.title1 {
    font-weight: 900;
}
.button1 {
    font-weight: 700;
    box-shadow: 1px -1px 10px 2px;
}
#p1 {
    font-weight: 400;
}
.title2 {
    font-weight: 700;
    text-align: center;
}
.fig1 {
    font-weight: 500;
}
.p2 {
    font-weight: 400;
}
.add {
    font-weight: 400;
}
.container {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container2 {
    display: flex;
    justify-content: center;
}
figure {
    margin: 20px;
}
